body{
  background-color: white;
  }

.about-container {
    margin: 20px;
  }
  
  .about-description {
    margin-bottom: 20px;
    font-weight: bolder;
  }
  
  .teammates {
    list-style: none;
    padding: 0;
  }
  
  .teammate {
    margin-bottom: 20px;
  }
  
  .teammate h4 {
    margin-bottom: 10px;
    font-weight: bolder;
  }
  
  .teammate p {
    margin-bottom: 10px;
    font-style: italic;
    font-weight: bold;
  }
  
  .teammate a {
    color: red;
    text-decoration: none;
  }
  
  .teammate a:hover {
    text-decoration: underline;
  }
.avatar{
  max-width: 450px;
  border: 1px;
  border-radius: 360px;
}