.comments{
    width: 80%;
    margin: auto;
}

.input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

li{
    list-style: none;
}

.nameInput{
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    margin-bottom: 8px;
}
label{
    margin-bottom: 10px !important;
}

.commentInput{
    display: flex;
    flex-direction: column;
    width: 3    0%;
    margin-right: 10px;
}

.listOfComments{
    margin-top: 10px;
    margin-bottom: 20px;
    margin: auto !important;
    
}

.listOfComments span{
    font-size: larger;
    font-weight: bold;
}


.submit{
    margin-top: 29px;
}

.postedComment{
    text-align: left;
}