h4{
    font-size: 1rem !important;
}
.videoCard{
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;

}

.videoCard:hover{
    transform: scale(1.01);
}

.thumbnail{
    height: 300px;
    border-radius: 8px ;
    box-shadow: 12px 10px 17px -10px rgba(0,0,0,0.75);
}

.videoInfo{
    padding-top: 15px;
}

